---
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: (CollectionEntry<"articles"> & { slug?: string })[];
  category: string;
}

const { posts, category } = Astro.props;
---

{
  posts
    .filter((post) => post.data.category === category)
    .map((post) => (
      <a href={`/${Astro.params.lang}/article/${post.slug}`}>
        <p>{post.data.title}</p>
      </a>
    ))
}
