---
import { languages } from "@/i18n/ui";

const { pathname } = Astro.url;
const currentPath = pathname.replace(/^\/[^/]*/, "") || "/";
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}${currentPath}`}>{label}</a>
      </li>
    ))
  }
</ul>
