---
import Layout from "@layouts/Layout.astro";
import Cards from "@components/Cards.astro";
import type { CollectionEntry } from "astro:content";

const { lang } = Astro.params;
const { getCollection } = await import("astro:content");

type ArticleWithSlug = CollectionEntry<"articles"> & { slug?: string };

const posts = (await getCollection("articles"))
  .filter((page) => page.id.startsWith(`${lang}/`))
  .map((page) => {
    // Extract just the relevant part of the slug without file extension
    const slug = page.id.split("/")[1]?.replace(/\.(md|mdx)$/, "") || undefined;
    return { ...page, slug };
  }) as ArticleWithSlug[];

export function getStaticPaths() {
  return [{ params: { lang: "en-us" } }, { params: { lang: "es-mx" } }];
}
---

<Layout
  title="Carlos I. Ramos V."
  description="I'm Carlos Iram Ramos Vasquez, a System Engineer and Cibersecurity enthusiast."
>
  <section>
    <h1>Web</h1>
    <Cards posts={posts} category="web" />
  </section>
  <section>
    <h1>Life</h1>
    <Cards posts={posts} category="life" />
  </section>
</Layout>
